[submodule "midnight-node"]
	path = submodules/midnight-node
	url = https://github.com/midnightntwrk/midnight-node.git
[submodule "partner-chains"]
	path = submodules/partner-chains
	url = https://github.com/input-output-hk/partner-chains.git
[submodule "midnight-indexer"]
	path = submodules/midnight-indexer
	url = https://github.com/midnightntwrk/midnight-indexer.git
[submodule "midnight-ledger"]
	path = submodules/midnight-ledger
	url = https://github.com/midnightntwrk/midnight-ledger.git
[submodule "midnight-js"]
	path = submodules/midnight-js
	url = https://github.com/midnightntwrk/midnight-js.git
[submodule "midnight-wallet"]
	path = submodules/midnight-wallet
	url = https://github.com/midnightntwrk/midnight-wallet.git
[submodule "midnight-zk"]
	path = submodules/midnight-zk
	url = https://github.com/midnightntwrk/midnight-zk.git
[submodule "submodules/midnight-docs"]
	path = submodules/midnight-docs
	url = https://github.com/midnightntwrk/midnight-docs.git
[submodule "submodules/example-counter"]
	path = submodules/example-counter
	url = https://github.com/midnightntwrk/example-counter.git
[submodule "submodules/example-bboard"]
	path = submodules/example-bboard
	url = https://github.com/midnightntwrk/example-bboard.git
[submodule "submodules/midnight-dapp-connector-api"]
	path = submodules/midnight-dapp-connector-api
	url = https://github.com/midnightntwrk/midnight-dapp-connector-api.git
[submodule "submodules/midnight-trusted-setup"]
	path = submodules/midnight-trusted-setup
	url = https://github.com/midnightntwrk/midnight-trusted-setup.git
[submodule "submodules/compact-contracts"]
	path = submodules/compact-contracts
	url = https://github.com/OpenZeppelin/compact-contracts.git
[submodule "submodules/polkadot-js-apps"]
	path = submodules/polkadot-js-apps
	url = https://github.com/polkadot-js/apps.git
[submodule "submodules/midnight-local-network"]
	path = submodules/midnight-local-network
	url = https://github.com/bricktowers/midnight-local-network
